---
layout: page
title: Il Triage
description: Fai la revisione di segnalazioni/ticket
---

<h3><a href="#mozilla">Firefox e Thunderbird</a></h3>
<h3><a href="#libreoffice">LibreOffice</a></h3>
<h3><a href="#kde">KDE</a></h3>

<p>Il triage è una pratica utilizza nei progetti per aiutare nell'analisi delle richieste di segnalazione bug gli sviluppatori. Quando qualcuno apre un ticket/issue/segnalazione a un progetto spesso non inserisce informazioni come la versione in cui succede il bug o come replicare in modo corretto (tutti i vari passaggi) oppure il ticket è presente da anni senza informazioni quindi è necessario verificare se il problema si presenta ancora con le ultime versioni.<br>
Questo lavoro è necessario per dare visibilità alle segnalazioni perchè se non è possibile replicare il problema gli sviluppatori non possono intervenire e risolverlo, facendo questo lavoro di revisione e inserimento informazioni approfondisci di più il progetto, dai un aiuto concreto e impari a tua volta come fare delle segnalazioni complete di informazioni.<br>
Alcuni progetti hanno degli strumenti automatici che inseriscono alcune di queste informazioni come ad esempio inserirlo nella giusta categoria o componente del software oppure identificano ticket simili o duplicati ma non possono sopperire per tutte le informazioni.</p>

<p>Questa attività può essere fatta sia da soli che in gruppo, nel secondo caso è necessario definire dei ticket di lavoro insiem eper semplificare.</p>

<hr>

<h2 id="mozilla">Firefox e Thunderbird</h2>

<ul>
    <li>Unisciti alla comunità nazionale, <a href="https://www.mozillaitalia.org/" target="_blank">Mozilla Italia</a>, dove potrai trovare altri volontari che si occupano di questa attività e che possono aiutarti</li>
    <li><a href="https://wiki.mozilla.org/Bug_Triage#Stale_Bug_Reports" target="">Firefox Bug Triage</a> <a href="https://wiki.mozilla.org/Thunderbird:Bug_Triage#Triage_Process" target="_blank">Thunderbird Bug Triage</a>, potrai trovare un elenco di ticket in cui mancano le informazioni necessarie per poterci lavorare</li>
    <li><a href="https://www.tizianasellitto.it/trainingmontage/bugzilla-triage-tutorial.html" target="_blank">Guida passo passo</a></li>
</ul>

<h2 id="mozilla">LibreOffice</h2>

<ul>
    <li>Unisciti alla comunità nazionale, <a href="https://www.libreitalia.org/" target="_blank">LibreItalia</a>, dove potrai trovare altri volontari che si occupano di questa attività e che possono aiutarti</li>
    <li>Prima di ogni nuovo rilascio viene organizzata una <a href="https://wiki.documentfoundation.org/QA/BugHuntingSession/it" target="">caccia all'errore</a></li>
</ul>

<h2 id="kde">KDE</h2>

<ul>
    <li><a href="https://pointieststick.com/2022/01/18/the-15-minute-bug-initiative/" target="_blank">15 Minute bug initiative</a>, ovvero dei ticket che richiedono meno di 15 minuti per inserire le informazioni necessarie per poter essere analizzati dagli sviluppatori</li>
</ul>
