---
layout: page
title: Non abbatteresti un albero se...
image: /images/locandine/ils-formati-aperti.png
---

<figure class="float-right text-center">
    <figcaption><a href="/zip/ils-formati-aperti.svg">Scarica il pacchetto Zip che include la versione SVG, con livelli per entrambe le versioni</a></figcaption>
    <img src="/images/locandine/ils-formati-aperti.png" alt="Locandina">
</figure>

<p>Un file è contenitore dei tuoi dati, accedere ai propri dati è fondamentale nel tempo ma spesso i file o i formati contenitore subiscono un oblio. Il produttore del software potrebbe decidere di non mantenerlo o non svilupparlo più senza rilasciare le informazioni su come poter accedere al tuo contenuto. <a href="http://la-cura.it/" target="_blank">Oppure la tua cartella clinica incluse le radiografie sono chiuse in un formato proprietario e solo chi ha il software (molto costoso) può accederci impedendo ai malati di condividerle con altri dottori</a>. Noi sosteniamo il <a href="https://www.linux.it/softwarelibero">software libero </a> che da nuova vita a questi formati e ne propone di aperti come alternativa.</p>

<p>Questa locandina fa parte del progetto <a href="https://forum.linux.it/t/produzione-materiale-social-grafica-da-parte-di-ils/946/21">Produzione materiale social/grafica da parte di ILS"</a> nato dopo il Merge-IT 2023.</p>

<p>Il secondo prodotto di questa discussione (e commissionato a pagamento, con revisione del direttivo ILS) sul <a href="https://www.linux.it/formatiaperti/">tema dei formati aperti</a> pensato per raggiungere un pubblico gdiverso, il materiale é licenziato come <a href="https://creativecommons.org/public-domain/cc0/">CC0</a> e l'autore é <a href="https://mastodon.social/@zughy_boi">Marco "Zughy" Amato</a>.</p>

<p>La locandina è stata pensata (oltre che libera per qualunque utilizzo) per poter essere utilizzata anche in altri contesti come magliette oppure c'é lo spazio per inserire i riferimenti dei software come LibreOffice.</p>

<p>Puó utilizzarla chiunque (anche al di fuori della associazione) per promuovere attivitá a tema Open Source.</p>

<a href="/stickers" class="cta-button">Chiedici di inviarti, gratuitamente, gli adesivi col logo del software libero!</a>

<p>Per saperne di più sul software libero ed in particolare su Linux, consulta l'elenco di <a href="/faq">Domande Frequenti</a>.</p>
