---
layout: page
title: Il Software Libero
---

<p>Il termine "<b>software libero</b>" (o "freesoftware", in inglese) identifica una ben specifica categoria di applicazioni software, caratterizzate dal fatto che la licenza d'uso con cui vengono distribuite (il "contratto" che descrive il rapporto dell'utente nei confronti dell'applicazione stessa e del suo autore) garantiscono sempre almeno quattro libertà fondamentali:</p>

<a href="/usa-analizza-modifica-condividi" class="float-right"><img src="/images/logo_sl.png" alt="Logo Software Libero" class="img-fluid"></a>

<ul>
    <li>libertà di eseguire il programma per qualsiasi scopo</li>
    <li>libertà di studiare il programma e modificarlo</li>
    <li>libertà di ridistribuire copie del programma</li>
    <li>libertà di migliorare il programma e di distribuirne pubblicamente i miglioramenti</li>
</ul>
<p>Tali libertà concesse hanno un prerequisito implicito: chi adopera il software deve avere accesso al suo relativo <b>codice sorgente</b>, ovvero alle istruzioni - formalizzate secondo un linguaggio di programmazione, leggibile ed interpretabile da chiunque abbia qualche competenza in materia - che determinano l'esatto comportamento del programma.</p>
<p>Dunque il "software libero" è qualcosa di diverso dal "software gratuito" (o "freeware", in inglese): la disponibilità del suo codice sorgente è la discriminante fondamentale. In generale, ciò che non è "software libero", e non garantisce dunque le suddette libertà all'utente, è detto "<b>software proprietario</b>" (indipendentemente che sia gratuito o a pagamento).</p>

<hr>
<div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Il software proprietario è una scatola chiusa, e non è dato di sapere come funziona e cosa fa mentre è in esecuzione. Il software libero, essendo distribuito insieme al codice sorgente, può essere analizzato, revisionato, ma anche studiato e, alla bisogna, modificato.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/softwarelibero/zoom.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Il software proprietario spesso viene rilasciato con il divieto a ridistribuirlo: solo chi lo ha prodotto ha diritto di darlo ad altri, o meglio di concederne ad altri la licenza di utilizzarlo. Viceversa chi entra in possesso di software libero può sempre a sua volta ridistribuirlo, dietro pagamento oppure gratuitamente, nella versione originale oppure con le sue modifiche, legalmente e nel pieno rispetto della legge.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/softwarelibero/sharing.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Solo chi ha realizzato un software proprietario è in possesso del suo relativo codice sorgente, e può dunque modificarlo su richiesta (sempre che ne abbia l'intenzione, e fissando il prezzo che vuole essendo in posizione di monopolio assoluto). Un software libero invece può essere modificato da chiunque ne abbia le competenze, ed in mancanza di competenze ci si può rivolgere a chi offre il prezzo o le condizioni migliori per svolgere il lavoro.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/softwarelibero/choice.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Le risorse investite in un software proprietario, per estenderlo o per estenderne la sua conoscenza, vanno ad esclusivo appannaggio del suo autore, che ne detiene tutti i diritti di uso e ridistribuzione. Ciò che viene investito in un software libero (in termini di correzioni, migliorie, segnalazioni, documentazione, plugin e moduli aggiuntivi...) va invece a beneficio di tutti coloro che lo usano.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/softwarelibero/centric.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Tutti i prodotti software possono aver bisogno di assistenza, supporto e manutenzione, e questi servizi possono essere una spesa. Ma il software proprietario si acquista per licenza d'uso, la quale può essere revocata in modo arbitrario o avere una scadenza e deve dunque essere pagata più e più volte, solitamente a cadenza annuale, senza ottenerne alcun reale valore aggiunto.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/softwarelibero/licenses.png">
        </div>
    </div>
</div>

<hr>

<p>Per approfondimenti, consulta la pagina delle <a href="/faq">Domande Frequenti</a>.</p>
<p>Per dritte e consigli su come tecnicamente distribuire il tuo proprio codice con una licenza libera <a href="/opensource/howto">consulta questa pagina</a>.</p>
<p>Potresti trovare interessante anche la guida su cosa sono i <a href="/formatiaperti">formati aperti</a>.</p>
